# Dependencies that need to be migrated to version 19.0
# odoo-addon-contract-line-successor @ git+https://github.com/OCA/contract#subdirectory=contract_line_successor
# odoo-addon-contract-variable-qty-prorated @ git+https://github.com/OCA/contract#subdirectory=contract_variable_qty_prorated