odoo-addon-agreement @ git+https://github.com/OCA/agreement.git@refs/pull/99/head#subdirectory=agreement
odoo-addon-agreement_rebate @ git+https://github.com/OCA/agreement.git@refs/pull/108/head#subdirectory=agreement_rebate
