odoo-addon-contract_sale_generation @ git+https://github.com/OCA/contract.git@refs/pull/1485/head#subdirectory=contract_sale_generation
odoo-addon-contract_delivery_zone @ git+https://github.com/OCA/contract.git@refs/pull/1505/head#subdirectory=contract_delivery_zone
