odoo-addon-contract-fixed-discount @ git+https://github.com/OCA/contract.git@refs/pull/1253/head#subdirectory=contract_fixed_discount
odoo-addon-contract  @ git+https://github.com/OCA/contract.git@refs/pull/1253/head#subdirectory=contract
