<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record
        id="action_distribution_list"
        model="ir.actions.act_window"
        >
        <field name="view_mode">tree,form</field>
        <field name="res_model">publication.distribution.list</field>
        <field name="name">Distribution List</field>
    </record>

    <record
        id="distribution_list_action_for_distribution_list"
        model="ir.actions.server"
        >
        <field name="name">Recompute distribution_list</field>
        <field name="model_id" ref="model_res_partner"/>
        <field name="code">
            env['publication.distribution.list'].cron_compute_distribution_list()
        </field>
    </record>

    <menuitem
        id="menu_recompute_distribution_list"
        action="distribution_list_action_for_distribution_list"
        name="Recompute distribution_list"
        parent="partner_noncommercial.menu_partner"
        sequence="81"
        />

    <record
        id="contract_line_action_for_publication"
        model="ir.actions.server"
        >
        <field name="name">Recompute publication</field>
        <field name="model_id" ref="model_res_partner"/>
        <field name="code">
            env['account.analytic.invoice.line'].cron_compute_publication()
        </field>
    </record>

    <menuitem
        id="menu_recompute_publication"
        action="contract_line_action_for_publication"
        name="Recompute publication"
        parent="partner_noncommercial.menu_partner"
        sequence="83"
        />

</odoo>
