<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record
        id="action_distribution_list"
        model="ir.actions.act_window"
        >
        <field name="view_mode">tree,form</field>
        <field name="res_model">publication.distribution.list</field>
        <field name="name">Distribution List</field>
    </record>

</odoo>
